{% extends "index/base.html" %}
{% load static %}
{% block content %}
  <div class="banner1"></div>
  <!-- mail -->
    <div class="contact wthree-2">
    		<div class="container">
    			<h3 class="agile">Mail Us</h3>
    			<div class="ser-t">
    				<b></b>
    				<span><i></i></span>
    				<b class="line"></b>
    			</div>
    			<form action="#" method="post">
    			<div class="contact-grids1 w3agile-6">
    						<div class="col-md-6 contact-form1">
    							<h4>Name</h4>
    							<input type="text" name="Name" placeholder="" required="">
    						</div>
    						<div class="col-md-6 contact-form1 ag">
    							<h4>Email</h4>
    							<input type="email" name="Email" placeholder="" required="">
    						</div>

    						<div class="clearfix"> </div>
    				<div class="contact-me animated wow slideInUp" data-wow-delay=".5s">
    					<h4>Message</h4>

    						<textarea name="Message" placeholder="" required=""> </textarea>


    				</div>
    				<div class="contact-form">
    							<input type="submit" value="Submit">
    						</div>
    			</div>
    			</form>
    			<div class="contact-grids agile-1">
    				<div class="col-md-4 contact-grid agileinfo-6">
    					<div class="contact-grid1">
    						<div class="con-ic">
    							<i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
    						</div>

    							<h4>Address</h4>
    							<p>Somaiya Campus, Vidyanagar, Vidyavihar <span>Mumbai.</span></p>

    					</div>
    				</div>
    				<div class="col-md-4 contact-grid agileinfo-6">
    					<div class="contact-grid1">
    						<div class="con-ic">
    							<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
    					</div>
    							<h4>Call Us</h4>
    							<p>91-22-66449191<span><a href="https://www.somaiya.edu/kjsce/">Website</a></span></p>

    					</div>
    				</div>
    				<div class="col-md-4 contact-grid agileinfo-6">
    					<div class="contact-grid1">
    						<div class="con-ic">
    							<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
    						</div>
    							<h4>Email</h4>
    							<p><a href="mailto:enquiry@engg.somaiya.edu">enquiry@engg.somaiya.edu</a></p>

    					</div>
    				</div>
    				<div class="clearfix"> </div>
    			</div>
    		</div>
    	</div>
    	<div class="map">
        <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=19.074599,72.899672&amp;q=Vidyanagar%2C%20Vidya%20Vihar%20East%2C%20Ghatkopar%20East%2C%20Mumbai%2C%20Maharashtra%20400077+(Somaiya%20College)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=A&amp;output=embed" allowfullscreen></iframe>
    	</div>

    <!-- //mail -->
{% endblock content %}
