{% extends "index/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="banner1"></div>
  <div class="w3l-gallery">
    <div class="container" style="">
      <div class="galley-grid">
        <h3 class="agile">Login Now</h3>
        <span class="lft-bar-gallery"> </span>
        <span class="rit-bar-gallery"> </span>
      </div>
      <div class="content-section">
        <form  method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form|crispy }}
          </div>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit" name="button">Log In</button>
          </div>
        </form>
        <div class="border-top pt-3">
          <small class="text-muted">Need a Account ? <a href="{% url 'register' %}" class="ml-2">Register</a></small>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
