{% extends "index/base.html" %}
{% load static %}
{% block content %}
  <div class="banner1">

  </div>
  <div class="team-page">
    <div class="container">
      <h3 class="agile">Team</h3>
      <div class="col-md-4 about-poleft">
            <div class="about_img"><img src="{% static 'images/kunj.jpg' %}" width="350" height="450">
                <h5>Kunj Haria</h5>
                <div class="about_opa">
                  <p>kunj.ch@somaiya.edu</p>
                    <p>Social</p>
                    <div class="agile-social">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                      </ul>
                    </div>
                </div>
            </div>
          </div>
      <div class="col-md-4 about-poleft">
              <div class="about_img"><img src="{% static 'images/tanish.jpg' %}" width="350" height="450">
                <h5>Tanish Sehgal</h5>
                <div class="about_opa">
                  <p>tanish.sehgal@somaiya.edu</p>
                  <p>Social</p>
                   <div class="agile-social">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
                </div>
              </div>
          </div>
      <div class="col-md-4 about-poleft">
              <div class="about_img"><img src="{% static 'images/simith.jpg' %}" width="350" height="450">
                <h5>Simith Bhojani</h5>
                <div class="about_opa">
                  <p>simith.bhojani@somaiya.edu</p>
                  <p>Social</p>
                  <div class="agile-social">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
                </div>
              </div>
          </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock content%}
